<h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
<h2><%= dose.ingredient.name %>
</h2>
<h2><%= dose.description %></h2>
<% end %>


<p><%= link_to "back to my list", cocktails_path %></p>

<% @cocktail.doses.each do |dose| %>
<h2><% dose.ingredient.name %> </h2>
<h2><% dose.description %> </h2>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient %>
<%= f.input :description %>
<%= f.submit %>
<% end %>
